@for (remotePlayer of webRtcPlayers(); track remotePlayer) {
<section>
    <h4 class="mat-title-medium">Debug connexion du joueur : {{ remotePlayer.name }}</h4>
    <app-debug-webrtc-states
        [states]="remotePlayer.states | async"
        [playerName]="remotePlayer.name" />
</section>
}
@for (negotiator of negotiators(); track negotiator) {
<section>
    <h4 class="mat-title-medium">Debug connexion du négociateur : {{ negotiator.playerName }}</h4>
    <app-debug-webrtc-states
        [states]="negotiator.states | async"
        [playerName]="negotiator.playerName" />
</section>
}
