<div class="row" *ngIf="roomService.waitingRoomInformation()">
    <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="roomName" placeholder="Nom de la salle" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="playerName" placeholder="Nom du joueur" />
    </mat-form-field>

    <button mat-stroked-button color="primary" id="host-room" (click)="hostRoom()">Nouvelle</button>
    <button mat-stroked-button color="primary" id="host-room" (click)="joinRoom()">Rejoindre</button>
</div>