#promotion {
    .piece {
        cursor: pointer;

        background-color: var(--app-board-light);

        &:nth-of-type(2),
        &:nth-of-type(3) {
            background-color: var(--app-accent);
        }
    }
}