@if (canDisplay()) {
<div>
    <mat-form-field>
        <input
            [(ngModel)]="roomName" autocomplete="off"
            matInput
            name="room-name"
            placeholder="Nom de la salle"
            type="text" />
    </mat-form-field>
    <mat-form-field>
        <input
            [(ngModel)]="playerName" autocomplete="off"
            matInput
            name="player"
            placeholder="Nom du joueur"
            type="text" />
    </mat-form-field>
    @if (!loading()) {
    <div class="d-flex align-items-center">
        <button (click)="hostRoom()" color="primary" mat-stroked-button>
            Nouvelle
        </button>
        <button (click)="joinRoom()" color="primary" mat-stroked-button>
            Rejoindre
        </button>
    </div>
    }
    @if (loading()) {
    <mat-spinner [diameter]="42" />
    }
</div>
}
