:host {
    width: 100%;
}

.channel {
  border: grey 1px solid;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

#chat {
  border: gray 1px solid;
  height: 100px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

button {
  margin: 0 10px;
  width: 130px;
}
