<div id="chat-app">
    <h3>Webrtc chat</h3>
    @if (room()) {
    <h4>Salle ({{ roomName }})</h4>
    }
    <div id="chat-container">
        <div id="chat">
            <cdk-virtual-scroll-viewport itemSize="20" class="example-viewport" id="virtual-chat">
                <app-chat-message *cdkVirtualFor="let chatMessage of chatMessages()" [message]="chatMessage" />
            </cdk-virtual-scroll-viewport>
            @if (newMessage() > 0) {
            <div id="new-message-notification" class="chat-notification">
                <button mat-flat-button color="primary" (click)="scrollDown(true)">
                    <span>{{ newMessage() }} nouveaux messages</span>
                    <span>Voir.</span>
                </button>
            </div>
            }
            @if (viewingHistory()) {
            <div id="history-notification" class="chat-notification">
                <button mat-flat-button color="primary" (click)="scrollDown(true)">
                    <span>Tu es entrain de regarder des anciens messages.</span>
                    <span>Revenir aux messages les plus récents.</span>
                </button>
            </div>
            }
        </div>
        <div id="player-list">
            <h4 class="list-title">Participants</h4>
            {{ players().length }} participant(s) dans la salle
            <mat-chip-set class="mat-chip-list-stacked">
                @for (participant of players(); track participant.name) {
                <app-chat-participant [player]="participant" />
                }
                @for (playerName of queuingPlayers(); track playerName) {
                <mat-chip>{{ playerName }}</mat-chip>
                }
            </mat-chip-set>
        </div>
    </div>

    <div id="send-form">
        <mat-form-field>
            <input matInput type="text" [formControl]="sendInput" placeholder="Tape ton message" />
        </mat-form-field>
        <button
            mat-raised-button color="primary" id="send" (click)="sendMessage()"
            [disabled]="!room() || isSending()">Envoyer
        </button>
    </div>
</div>
