#game {
    display: flex;
    flex-direction: column;

    .player {
        width: 100%;
        text-align: center;
    }

    #board-section {
        display: flex;
        flex-direction: row;

        #chess-board {
            flex: auto;
        }

        #right-column {
            width: 90px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .player-information {
                display: flex;
                flex-direction: column;
                height: 200px;
                text-align: center;

                .skip-button {
                    margin-left: 0;
                    margin-right: 0;
                }

                .player-identity {
                    width: 90px;
                    height: 90px;
                }

                &.white-player {
                    justify-content: flex-end;
                }
            }
        }
    }
}