<div class="row" *ngIf="!roomService.roomIsSetup()">
    <mat-form-field>
        <input matInput type="text" name="room-name" [(ngModel)]="roomName" placeholder="Nom de la salle"
            autocomplete="off" />
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" name="player" [(ngModel)]="playerName" placeholder="Nom du joueur"
            autocomplete="off" />
    </mat-form-field>

    <div id="setup-buttons" *ngIf="isLoading === false">
        <button mat-stroked-button color="primary" id="host-room" (click)="hostRoom()">
            Nouvelle
        </button>
        <button mat-stroked-button color="primary" id="host-room" (click)="joinRoom()">
            Rejoindre
        </button>
        <div id="setup-error">{{ error }}</div>
    </div>
    <mat-spinner [diameter]="42" *ngIf="isLoading">
    </mat-spinner>
</div>