<div *ngIf="canDisplay" class="row">
    <mat-form-field>
        <input
            [(ngModel)]="roomName" autocomplete="off"
            matInput
            name="room-name"
            placeholder="Nom de la salle"
            type="text" />
    </mat-form-field>

    <mat-form-field>
        <input
            [(ngModel)]="playerName" autocomplete="off"
            matInput
            name="player"
            placeholder="Nom du joueur"
            type="text" />
    </mat-form-field>

    <div *ngIf="!isLoading" id="setup-buttons">
        <button (click)="hostRoom()" color="primary" mat-stroked-button>
            Nouvelle
        </button>
        <button (click)="joinRoom()" color="primary" mat-stroked-button>
            Rejoindre
        </button>
        <div id="setup-error">{{ error }}</div>
    </div>
    <mat-spinner *ngIf="isLoading" [diameter]="42" />
</div>
