<div id="promotion">
    <mat-grid-list cols="2">
        <mat-grid-tile class="piece">
            <app-board-piece [piece]="piece(rookType)" (click)="onClick(rookType)"></app-board-piece>
        </mat-grid-tile>
        <mat-grid-tile class="piece">
            <app-board-piece [piece]="piece(knightType)" (click)="onClick(knightType)"></app-board-piece>
        </mat-grid-tile>
        <mat-grid-tile class="piece">
            <app-board-piece [piece]="piece(bishopType)" (click)="onClick(bishopType)"></app-board-piece>
        </mat-grid-tile>
        <mat-grid-tile class="piece">
            <app-board-piece [piece]="piece(queenType)" (click)="onClick(queenType)"></app-board-piece>
        </mat-grid-tile>
    </mat-grid-list>
</div>