<section *ngFor="let remotePlayer of webRtcPlayers()">
    <h4>Debug connexion du joueur : {{ remotePlayer.name }}</h4>
    <app-debug-webrtc-states
        [states]="remotePlayer.states | async"
        [playerName]="remotePlayer.name" />
</section>
<section *ngFor="let negotiator of negotiators()">
    <h4>Debug connexion du négociateur : {{ negotiator.playerName }}</h4>
    <app-debug-webrtc-states
        [states]="negotiator.states | async"
        [playerName]="negotiator.playerName" />
</section>
