<table id="candidates">
    <caption>List of candidates</caption>
    <thead id="candidatesHead">
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Component</th>
            <th scope="col">Type</th>
            <th scope="col">Foundation</th>
            <th scope="col">Protocol</th>
            <th scope="col">Address</th>
            <th scope="col">Port</th>
            <th scope="col">Priority</th>
        </tr>
    </thead>
    <tbody id="candidatesBody">
        <tr *ngFor="let candidate of candidates">
            <td>{{ candidate.elapsed }}</td>
            <td>{{ candidate.component }}</td>
            <td>{{ candidate.type }}</td>
            <td>{{ candidate.foundation }}</td>
            <td>{{ candidate.protocol }}</td>
            <td>{{ candidate.address }}</td>
            <td>{{ candidate.port }}</td>
            <td>{{ candidate.priority }}</td>
        </tr>
    </tbody>
</table>