:host {
    #board {
        width: 100%;
        display: flex;
        flex-direction: column;

        .full-center {
            display: block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
        }

        .row {
            display: flex;
            flex-direction: row;
        }

        #fake-column {
            width: 30px;
        }

        #column-labels {
            display: flex;
            flex-direction: row;
            height: 30px;
            width: 100%;

            >div {
                flex: auto;
            }
        }

        #row-labels {
            display: flex;
            flex-direction: column;
            width: 30px;

            >div {
                flex: auto;
            }
        }

        #board-grid {
            flex: 15;

            .mat-grid-list {

                .mat-grid-tile {
                    border: solid 1px black;
                    background-color: rgb(235, 235, 235);

                    &:nth-of-type(16n + 2),
                    &:nth-of-type(16n + 4),
                    &:nth-of-type(16n + 6),
                    &:nth-of-type(16n + 8),
                    &:nth-of-type(16n + 9),
                    &:nth-of-type(16n + 11),
                    &:nth-of-type(16n + 13),
                    &:nth-of-type(16n + 15) {
                        background-color: rgb(60, 77, 175);
                    }

                    .cell {
                        width: 100%;
                        height: 100%;

                        &.drag-hover {
                            background-color: red;
                        }

                        &.dragged {
                            background-color: darkgoldenrod;
                        }

                        &.valid-move {
                            background-color: greenyellow;
                        }

                        &.valid-move.drag-hover {
                            background-color: green;
                        }
                    }

                    .hidden-placeholder {
                        display: block;
                        height: 0;
                        width: 0;
                    }
                }
            }
        }


    }
}