<div id="board">
    <div class="row">
        <div id="fake-column"></div>
        <div id="column-labels">
            <div *ngFor="let i of 8 | range">
                <span class="full-center">{{ 'ABCDEFGH'.charAt(i)}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="row-labels">
            <div *ngFor="let i of 8 | range;">
                <span class="full-center">{{ 8 - i }}</span>
            </div>
        </div>
        <div id="board-grid" cdkDropListGroup>
            <mat-grid-list cols="8">
                <mat-grid-tile *ngFor="let cell of cells; let i = index;">
                    <div cdkDropList class="cell" [ngClass]="{'dragHover': cell.dragHover}"
                        (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="dragEntered($event)"
                        (cdkDropListExited)="dragExited($event)" [id]="i">
                        <app-board-piece [piece]="cell.piece" *ngIf="cell.piece" cdkDrag>
                            <div class="hidden-placeholder" *cdkDragPlaceholder></div>
                        </app-board-piece>
                    </div>

                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>

</div>