<div class="channel">

    <div *ngIf="initiator === null" class="row">
        <label>Mode?</label>
        <button (click)="setMode(true)">Auto Init</button>
        <button (click)="setMode(false)">Auto Join</button>
    </div>

    <ng-container *ngIf="initiator !== null">
        <ng-container>
            <h3>{{ initiator ? 'Create' : 'Join' }} webrtc channel</h3>
            <div class="row" *ngIf="displayEnterRoomButton()">
                <label>Room name</label>
                <input [(ngModel)]="roomName" />
                <label>Player name</label>
                <input [(ngModel)]="playerName" />
                <button id="room-session" (click)="enterRoom()">Enter the room</button>
            </div>
        </ng-container>

        <ng-container *ngIf="activeRoom">
            <label>Chat - Room ({{ roomName }}) - Pseudo ({{ localPlayer.name }}) - In the room:
                {{ remotePlayer?.isConnected ? remotePlayer.name : '' }} </label>
            <div id="chat">
                <span *ngFor="let entry of chat">{{ entry }}</span>
            </div>
            <div class="row">
                <input id="send-input" type="text" [(ngModel)]="sendInput" />
                <button id="send" (click)="sendMessage()">Send</button>
            </div>
        </ng-container>
    </ng-container>
</div>
<section id="debug" *ngIf="remotePlayer">
    <h4>Debug for connection with {{ remotePlayer.name }}</h4>
    <app-debug-webrtc-states [webRTC]="remotePlayer.webRTC"></app-debug-webrtc-states>
    <app-debug-icecandidates [webRTC]="remotePlayer.webRTC"></app-debug-icecandidates>
</section>