<div class="channel">
    <h3>Webrtc chat</h3>
    <app-room-setup [maxPlayer]="maxPlayer"></app-room-setup>
    <ng-container *ngIf="roomService.isActive | async">
        <div class="row">
            Entrain de rejoindre :
            <span *ngFor="let playerName of roomService.queue; let isFirst = first;">
                {{ isFirst ? '' : '-'}} {{ playerName }}
            </span>
        </div>
        <label>Chat - Salle ({{ roomService.roomName }}) - Pseudo ({{ roomService.localPlayer.name }}) - Dans
            la salle :
            <ng-container *ngFor="let participant of roomService.players | keyvalue; let isFirst = first;">
                {{ isFirst ? '' : '-'}} {{ participant.key }}
            </ng-container>
        </label>
        <div id="chat">
            <span *ngFor="let entry of chat">{{ entry }}</span>
        </div>
        <div class="row">
            <input id="send-input" type="text" [(ngModel)]="sendInput" />
            <button id="send" (click)="sendMessage()">Envoyer</button>
        </div>
    </ng-container>
</div>
<app-debug-webrtc></app-debug-webrtc>