<div class="row">
    <span>
        RTC states of {{ playerName }}:
    </span>
</div>
<div class="row">
    <span>
        ICE Connection: <span id="state-ice-connection">{{ states?.iceConnection }}</span>
    </span>
</div>
<div class="row">
    <span>
        ICE Gathering: <span id="state-ice-gathering">{{ states?.iceGathering }}</span>
    </span>
</div>
<div class="row">
    <span>
        Signaling: <span id="state-signaling">{{ states?.signaling }}</span>
    </span>
</div>
<div class="row">
    <span>
        Send channel: <span id="state-send-channel">{{ states?.sendChannel }}</span>
    </span>
</div>
<div class="row">
    <span>
        Receive channel: <span id="state-receive-channel">{{ states?.receiveChannel }}</span>
    </span>
</div>