<div id="promotion">
    <mat-grid-list cols="2">
        <mat-grid-tile class="piece">
            <app-chess-board-piece [piece]="piece(rookType)" (click)="onClick(rookType)"/>
        </mat-grid-tile>
        <mat-grid-tile class="piece">
            <app-chess-board-piece [piece]="piece(knightType)" (click)="onClick(knightType)"/>
        </mat-grid-tile>
        <mat-grid-tile class="piece">
            <app-chess-board-piece [piece]="piece(bishopType)" (click)="onClick(bishopType)"/>
        </mat-grid-tile>
        <mat-grid-tile class="piece">
            <app-chess-board-piece [piece]="piece(queenType)" (click)="onClick(queenType)"/>
        </mat-grid-tile>
    </mat-grid-list>
</div>
